<!DOCTYPE html>
<html ng-app = "myApp">
<head>
	<title>Form</title>
	<meta charset="utf-8">
	<script type="text/javascript" src = "../dev/angular-1.6.5/angular.js"></script>
	<script type="text/javascript" src = "index.js"></script>
	<link rel="stylesheet" type="text/css" href="../dev/bootstrap-3.3.7-dist/css/bootstrap.css">
	<style type="text/css">
		.he{
			text-align:center;
			font: bold 20px/20px '微软雅黑';
			padding: 35px;
		}
	</style>
	
</head>
<body ng-controller="myController">
<div class="container">
	<!-- <div class="he">请填写您的信息：</div> -->
	<form name="myForm" class="form-horizontal container" style="margin-top: 30px" action="a.php">

		<div class="form-group" ng-class="{'has-error':myForm.username.$dirty&&myForm.username.$invalid}">
		    <label for="username" class="col-sm-2 control-label">用 户 名</label>
		    <div class="col-sm-10">
		      <input  type="text" name="username" ng-pattern="/^[a-zA-Z]{1}/" ng-model="data.username" ng-required="true" ng-minlength="5" ng-maxlength="10" id="username" class="form-control" placeholder="请输入用户名">
		      <div ng-show="myForm.username.$dirty&&myForm.username.$error.maxlength" class="alert alert-danger help-block">用户名长度不能超过10位</div>
		      <div ng-show="myForm.username.$dirty&&myForm.username.$error.minlength" class="alert alert-danger help-block">用户名长度不能小于5位</div>
		      <div ng-show="myForm.username.$dirty&&myForm.username.$error.pattern" class="alert alert-danger help-block">用户名必须以英文字母开头</div>
		    </div>
		  </div>
		  
		  <div class="form-group" ng-class="{'has-error':myForm.password.$dirty&&myForm.password.$invalid}">
		    <label for="inputPassword3" class="col-sm-2 control-label">密&nbsp;&nbsp;&nbsp;&nbsp;码</label>
		    <div class="col-sm-10">
		      <input type="password" name="password" ng-model="data.password" ng-required="true" ng-minlength="5" ng-maxlength="10" class="form-control" id="inputPassword3" placeholder="请输入密码">
		      <div ng-show="myForm.password.$dirty&&myForm.password.$error.maxlength" class="alert alert-danger help-block">密码长度不能超过10位</div>
		      <div ng-show="myForm.password.$dirty&&myForm.password.$error.minlength" class="alert alert-danger help-block">密码长度不能小于5位</div>
		      
		    </div>
		  </div>

		  <div class="form-group" ng-class="{'has-error':myForm.confirm.$dirty&&myForm.confirm.$invalid}">
		    <label for="confirm" class="col-sm-2 control-label">确认密码</label>
		    <div class="col-sm-10">
		      <input type="password" name="confirm" ng-model="data.confirm" ng-required="true" class="form-control" id="confirm" placeholder="请再次输入密码">
		      <div ng-show="myForm.password.$dirty&&myForm.confirm.$dirty&&data.confirm!==data.password" class="alert alert-danger help-block">两次输入的密码不一致</div>
		    </div>
		  </div>

		  <div class="form-group" ng-class="{'has-error':myForm.email.$dirty&&myForm.email.$invalid}">
		    <label for="inputEmail3" class="col-sm-2 control-label">邮&nbsp;&nbsp;&nbsp;&nbsp;箱</label>
		    <div class="col-sm-10">
		      <input type="email" name="email" ng-model="data.email" ng-required="true" ng-minlength="5" ng-maxlength="30" class="form-control" id="inputEmail3" placeholder="请输入邮箱地址">
		      <div ng-show="myForm.email.$dirty&&myForm.email.$error.maxlength" class="alert alert-danger help-block">邮箱长度不能超过30位</div>
		      <div ng-show="myForm.email.$dirty&&myForm.email.$error.minlength" class="alert alert-danger help-block">邮箱长度不能小于5位</div>
		      <div ng-show="myForm.email.$dirty&&myForm.email.$error.email" class="alert alert-danger help-block">邮箱格式不正确</div>
		    </div>
		  </div> 

		  <div class="form-group" ng-class="{'has-error':myForm.blog.$dirty&&myForm.blog.$invalid}">
		    <label for="blog" class="col-sm-2 control-label">博客网址</label>
		    <div class="col-sm-10">
		      <input type="url" name="blog" ng-model="data.blog" ng-required="true" ng-minlength="5" ng-maxlength="30" class="form-control" id="blog" placeholder="请输入博客网址">
		      <div ng-show="myForm.blog.$dirty&&myForm.blog.$error.maxlength" class="alert alert-danger help-block">博客长度不能超过30位</div>
		      <div ng-show="myForm.blog.$dirty&&myForm.blog.$error.minlength" class="alert alert-danger help-block">博客长度不能小于5位</div>
		      <div ng-show="myForm.blog.$dirty&&myForm.blog.$error.url" class="alert alert-danger help-block">网址格式不正确</div>
		    </div>
		  </div>

		  <div class="form-group">
		  	<label class="col-sm-2 control-label">性&nbsp;&nbsp;&nbsp;&nbsp;别</label>
		  	<div class="col-sm-10">
			  	<label class="radio-inline">
				  <input type="radio" ng-required="true" name="sexs" ng-model="data.sexs" value="0"> 男
				</label>
				<label class="radio-inline">
				  <input type="radio" ng-required="true" name="sexs" ng-model="data.sexs" value="1"> 女
				</label>
			</div>
		  </div>

			<div class="form-group">
			  	<label class="col-sm-2 control-label">爱&nbsp;&nbsp;&nbsp;&nbsp;好</label>
			  	<div class="col-sm-10">
				  	<label class="checkbox-inline" ng-repeat="hobby in like.hobbies">
					  <input type="checkbox" name="hobby" ng-model="hobby.selected" value="{{hobby.id}}" >{{hobby.name}}
					</label>
					
				</div>
		 	</div>

		 	<div class="form-group">
			  	<label class="col-sm-2 control-label">爱&nbsp;&nbsp;&nbsp;&nbsp;好</label>
			  	<div class="col-sm-10">
				  	<label class="checkbox-inline" ng-repeat="hobby in hobbies">
					  <input type="checkbox" name="hobby2" ng-checked="data.selectedHobby===undefined?false: data.selectedHobby.indexOf(hobby.id)!==-1" ng-click ="toggleHobby(hobby.id)" value="{{hobby.id}}" >{{hobby.name}}
					</label>
					
				</div>
		 	</div>

		  <div class="form-group" ng-class="{'has-error':myForm.age.$dirty&&myForm.age.$invalid}">
		    <label for="age" class="col-sm-2 control-label">年&nbsp;&nbsp;&nbsp;&nbsp;龄</label>
		    <div class="col-sm-10">
		      <input type="number" name="age" ng-model="data.age" ng-required="true" min="10" max="99" class="form-control" id="blog" placeholder="请输入年龄">
		      <div ng-show="myForm.age.$dirty&&myForm.age.$error.max" class="alert alert-danger help-block">年龄能超过99岁</div>
		      <div ng-show="myForm.age.$dirty&&myForm.age.$error.min" class="alert alert-danger help-block">年龄能小于10岁</div>
		      
		    </div>
		  </div>
			
		  <div class="form-group">
		    <label for="add" class="col-sm-2 control-label">出生地</label>
		    <div class="col-sm-3">
		      <select class="form-control" ng-options="x.id as x.name for x in cities | cityFilter:0" ng-model="data.province"></select>
		    </div>
		    <div class="col-sm-3">
		      <select class="form-control" ng-show="data.province" ng-options="x.id as x.name for x in cities | cityFilter:data.province" ng-model="data.cit"></select>
		    </div>
		    <div class="col-sm-3">
		      <select class="form-control" ng-required="true" ng-show="data.province&&data.cit" ng-options="x.id as x.name for x in cities | cityFilter:data.cit" ng-model="data.are"></select>
		    </div>
		  </div>


		 
		  <div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      <button type="submit" class="btn btn-default" ng-disabled="myForm.$invalid||data.selectedHobby===undefined||data.selectedHobby.length===0||flag">注册</button>
		      <button type="reset" class="btn btn-default" ng-click = "reset()">重置</button>
		    </div>
		  </div>

		<div class="form-group">
		    <div class="col-sm-offset-2 col-sm-10">
		      {{data}}
		    </div>
		  </div>


	</form>
</div>
</body>
</html>